@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100vh;
}
.taskHidyScroll::-webkit-scrollbar {
    display: none;
}

.arrowDown {
    position: absolute;
    bottom: 40%;
    right: 0;
}
.arrowUp {
    position: absolute;
    top: 50%;
    right: 0;
}
